<!-- fragments/hotel-details.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Include any necessary styles or scripts here -->
</head>
<body>
    <div th:fragment="hotelDetails">
        <!-- Hotel details content -->
		<h1>Here is the data for Hotel!!</h1>
        <h4 th:text="${hotel.getHotel().getName()}"></h4>
        <p th:text="${hotel.getOffers()[0].getDescription()}"></p>
        <p>Price: <span th:text="'$' + ${hotel.getOffers()[0].getPrice().getTotal()}"></span></p>
        <!-- Add other hotel details here -->
    </div>
</body>
</html>