<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Booking Confirmation</title>
</head>
<body>
    <h1>Booking Confirmation</h1>
    <p><strong>Booking ID:</strong> [[${booking.bookingId}]]</p>
    <p><strong>Hotel Name:</strong> [[${booking.hotelName}]]</p>
    <p><strong>City:</strong> [[${booking.cityName}]] ([[${booking.cityCode}]])</p>
    <p><strong>Check-in Date:</strong> [[${booking.checkInDate}]]</p>
    <p><strong>Check-out Date:</strong> [[${booking.checkOutDate}]]</p>
    <p><strong>Number of Rooms:</strong> [[${booking.noOfRooms}]]</p>
    <p><strong>Number of Guests:</strong> [[${booking.noOfGuests}]]</p>
    <p><strong>Booking Status:</strong> [[${booking.bookingStatus}]]</p>
    <p><strong>Room Description:</strong> [[${booking.roomDescription}]]</p>
    <p><strong>Room Category:</strong> [[${booking.roomCategory}]]</p>
    <p><strong>Bed Type:</strong> [[${booking.roomBedType}]]</p>
    <p><strong>Payment ID:</strong> [[${booking.paymentId}]]</p>
    <p><strong>Payment Status:</strong> [[${booking.paymentStatus}]]</p>
    <p><strong>Total Price:</strong> [[${booking.currency}]] [[${booking.price}]]</p>
</body>
</html>